@import './ErrorBase.css';

/* Estilos específicos para la página de error del servidor */
.server-error-page {
  background: linear-gradient(135deg, var(--color-action-red) 0%, var(--color-vibrant-red-orange) 100%);
}

.server-error-animation {
  animation: shake 0.5s ease-in-out infinite alternate;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
